<div class="row">
    <div class="col-xs-12 col-md-12">
    </div>
</div>

<p class="text-center text-muted">
    © Copyright 2015 -
    <a href="http://www.geocaching.com/profile/?guid=6fbec87e-6945-4ce7-877a-a7cb2b104d72" title="TeamOfSix">TeamOfSix</a> &
    <a href="http://www.geocaching.com/profile/?guid=1666696c-027e-4325-808e-b6071ee56d37" title="DerWaschi">DerWaschi</a>
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="socket.io/socket.io.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59222326-1', 'auto');
    ga('send', 'pageview');

</script>