<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">

            <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar"
                    data-toggle="collapse" type="button">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="glyphicon glyphicon-menu-down" style="margin-top: 15px;"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-qrcode"></span>
                Willkommen Oma Saalow
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/hof"><span class="glyphicon glyphicon-star-empty"></span> Hall Of Fame</a></li>
                <li><a href="/banner"><span class="glyphicon glyphicon-gift"></span> Banner</a></li>

                <!--<li><a href="/chat"><span class="glyphicon glyphicon-globe"></span> Chat</a></li>-->
                <li><a href="/kontakt"><span class="glyphicon glyphicon-envelope"></span> Kontakt</a></li>
                <li><a href="/ueber"><span class="glyphicon glyphicon-eye-open"></span> Über</a></li>
            </ul>
        </div>

    </div>
</nav>