html, body {
    /*font-family: 'Titillium Web', sans-serif;*/
    font-family: 'EB Garamond', serif;
}

body {
    max-width: 990px;
    margin: 0 auto;
}

#chatbox{
    height: 250px;
    max-height: 250px;
    overflow: scroll;
    margin: 35px 0;
    list-style: none;
    border: 1px solid #ffffff;
    background-color: #111111;
    border-radius: 6px;
    padding: 6px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.beta {
    margin-bottom: 40px;
}

.morse{
    display: none;
}

.help {
    height: 140px;
}

.thumbnail{
    padding: 30px;
}

.caption {
    margin-bottom: 30px;
}

@media all and (max-width: 768px)  {
    .navbar-brand {
        padding: 22px !important;
    }
}

