<!DOCTYPE html>
<html>
<head lang="de">
    <% include ../partials/header %>
</head>


<body>

<header>
    <% include ../partials/navi %>
</header>

<main>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <%if (antwort && (antwort === 'zwei' ||
                antwort === 'Zwei' ||
                antwort === '2' ||
                antwort === 'zwo')) { %>

                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                        <strong>Ihre Antwort war erfolgreich.</strong>
                    </div>

                    <div class="jumbotron">
                        <h1>Hallo werte Frau,</h1>

                        <p>wir begrüßen Sie recht herzlich in unserem Pflegeheim.</p>

                        <p>
                            Bitte prüfen Sie zunächst, ob ihr Gepäck (ECA) vollständig ist.
                        </p>
                        <p>
                            Danach begeben Sie sich bitte auf das Gelände und melden Sie sich vorne rechts am Haupthaus bei Herr M E N G A T.
                            <br>
                            Er wird Sie in Empfang nehmen und alles weitere mit Ihnen besprechen.
                        </p>
                        <p>
                            Vielen Dank.
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-book"></span>
                            Ihr braucht Hilfe oder einen Stupser in die richtige Richtung? Nutzt das
                            <a href="/kontakt">Kontaktformular</a>.
                            Wir antworten schnell, versprochen.
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-picture"></span>
                            Macht unterwegs ein paar witzige Gruppenfotos und registriert euch dann nach Erfüllung des Caches bei uns für die <a href="/hof">Hall of Fame</a>.
                        </p>

                    </div>

                <% } else {%>

                    <div class="alert alert-danger" role="alert">
                        <strong>Ihre Antwort war leider falsch!</strong>
                        <br>
                        <a href="/" class="alert-link">Bitte probieren Sie es noch einmal.</a>
                    </div>

                <% }%>
            </div>
        </div>

        <%if (antwort && (antwort === 'zwei' ||
        antwort === 'Zwei' ||
        antwort === '2' ||
        antwort === 'zwo')) { %>

        <div class="row">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="img/gelände_1.jpg" alt="Geländeansicht">
                            <div class="carousel-caption">
                                Geländeansicht
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/gelände_2.jpg" alt="Geländeansicht">
                            <div class="carousel-caption">
                                Geländeansicht
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/gc-logo.jpg" alt="geocaching.com">
                            <div class="carousel-caption">
                                Geocaching
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">zurück</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">vor</span>
                    </a>
                </div>
            </div>
        </div>

        <% }%>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>