<!DOCTYPE html>
<html>
<head lang="de">
    <% include ../partials/header %>
</head>


<body>

<header>
    <% include ../partials/navi %>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1><span class="glyphicon glyphicon-info-sign"></span> Banner für euer GC Profil,</h1>

                    <p>Anbei findet ihr ein Banner, welches ihr für eure GC Profilseite benutzen könnt.
                    </p>

                    <div class="thumbnail">
                        <a href="http://coord.info/GC5MTX8">
                            <img src="http://oma-saalow.de:9999/img/banner/omasaalowbanner.png"
                                 alt="Geocache GC5MTX8 - Willkommen Oma Saalow">
                        </a>
                    </div>

                    <p>&lt;a href="http://coord.info/GC5MTX8"&gt; &lt;img src="http://oma-saalow.de:9999/img/banner/omasaalowbanner.png" alt="Geocache GC5MTX8 - Willkommen Oma Saalow"&gt; &lt;/a&gt;</p>

                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>