<!DOCTYPE html>
<html>
<head lang="de">
    <% include ../partials/header %>
</head>


<body>

<header>
    <% include ../partials/navi %>
</header>

<main>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <h1>Hilfe Chat ...</h1>

                    <p>
                        Du hast eine ganze eilige Frage? Dann probiere, ob du uns direkt über den Chat erreichst.
                    </p>

                    <ul id="chatbox"></ul>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" placeholder="Name" class="form-control"/>
                    </div>

                    <div class="input-group">
                        <input id="text" type="text" placeholder="schreibe etwas..." class="form-control"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="senden" type="submit" value="senden" type="button">Senden</button>
                        </span>
                    </div>




                    <div>
                    </div>

                </div>
            </div>

        </div>
</main>

<footer>
    <% include ../partials/footer %>
    <script src="js/client.js"></script>
</footer>
</body>
</html>