<!DOCTYPE html>
<html>
<head lang="de">
    <% include ../partials/header %>
</head>


<body>

<header>
    <% include ../partials/navi %>
</header>

<main>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <h1>Vielen Dank für deine Anfrage, ...</h1>
                    <p>wir melden uns umgehend.</p>
                    <p><%= name %></p>
                </div>

            </div>
        </div>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>