<!DOCTYPE html>
<html>
<head lang="de">
    <% include ../partials/header %>
</head>


<body>

<header>
    <% include ../partials/navi %>
</header>

<main>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <h1>ATU - Die Garage</h1>

                    <p>
                        Ohhhh nein, nicht schon wieder! Der Dieb ist dir wieder ganz knapp entwischt.
                        Alles was du noch sehen konntest waren die Rückleuchten von seinem Auto.
                        Dieser Schuft hat Ersatzteile vom Ausflugsbus unserer Senioren gestohlen, der aktuell
                        in der Garage repariert und aufgehübscht werden soll.
                    </p>

                    <p>
                        Versuche anhand der Motorengeräusche des wegfahrenden Autos zu rekonstruieren, in welche
                        Richtung er geflohen ist. Vielleicht kannst du somit den neuen Aufenthaltsort ermitteln.
                    </p>

                    <p>
                        Viel Erfolg!
                    </p>
                    <button type="button" class="btn btn-primary" onclick="morse.playMorse();"><span>Höre, spüre und entschlüssle den Code</span>
                    </button>
                </div>

                <div class="alert alert-warning morse">
                    <p><strong>Hinweis!</strong></p>
                    <p>
                        Dein Smartphone unterstützt keine Vibration über den Webbrowser.
                        Benutze bitte ein Android Smartphone oder nutze den folgenden visuellen Code.
                    </p>

                    <p>− . | · · · · · | − − − − · | − · · · ·</p>

                    <p>. | − − · · · | − − · · · | − − − − ·</p>
                </div>

            </div>
        </div>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
    <script>
        /**
         * morse function
         */
        var morse = {

            playMorse: function () {

                var pShort = 500;
                var pMiddle = 1500;
                var pLong = 3000;

                var short = 400;
                var long = 800;


                // enable vibration support
                navigator.vibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate;

                if (navigator.vibrate) {
                    // N 608 E 766
                    // N 596
                    // E 779
                    navigator.vibrate([
                        long, pShort, short, pMiddle,
                        short, pShort,short, pShort,short, pShort,short, pShort,short,pMiddle,
                        long, pShort,long, pShort,long, pShort,long, pShort,short,pMiddle,
                        long, pShort,short, pShort,short, pShort,short, pShort,short,
                        pLong,
                        short, pMiddle,
                        long, pShort,long, pShort, short, pShort, short, pShort, short, pMiddle,
                        long, pShort,long, pShort, short, pShort, short, pShort, short, pMiddle,
                        long, pShort,long, pShort,long, pShort,long, pShort,short,pMiddle
                    ]);


                } else {
                    $('.alert-warning').toggleClass('morse');
                    $("html, body").animate({ scrollTop: $(document).height() }, 1000);
                }
            }

        }
    </script>
</footer>
</body>
</html>