<!DOCTYPE html>
<html>
<head lang="de">
    <% include ../partials/header %>
</head>


<body>

<header>
    <% include ../partials/navi %>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1><span class="glyphicon glyphicon-info-sign"></span> Hall of Fame,</h1>

                    <p>
                        Alle Cacher die diesen Cache absolviert haben, haben die Möglichkeit sich in unserer
                        Hall Of Fame zu verewigen.<br>
                        Sendet uns dazu einfach ein Foto von euch und eurem Team inklusive GC Namen an:<br>
                        <a href="mailto:oma-saalow@gmail.com">oma-saalow@gmail.com</a>
                    </p>

                </div>
            </div>
        </div>

        <div class="row beta">
            <div class="col-xs-12 col-md-12">
                <div class="thumbnail">
                    <img src="img/halloffame/teamhammti.jpg" alt="Beta Team">
                </div>
                <div class="caption">
                    <h3>Beta Team - Team Hammti</h3>
                    <p>Tausend Dank an euch fürs Testen und den vielen guten Verbesserungs Tipps.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="thumbnail">
                    <img src="img/halloffame/ftf-team.jpg" alt="FTF">
                </div>
                <div class="caption">
                    <h3>FTF</h3>
                    <p>Team Unschön, Sweetstarlett+Fam, Peer Gynnt, tabitiger, ho1ger</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-12">
                <div class="thumbnail">
                    <img src="img/halloffame/stf-team.jpg" alt="STF">
                </div>
                <div class="caption">
                    <h3>STF</h3>
                    <p>#Lichtenberger, #lorenz1980, #keksgourmet und eine Gast-Cacherin</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-12">
                <div class="thumbnail">
                    <img src="img/patient.png" alt="TTF">
                </div>
                <div class="caption">
                    <h3>TTF</h3>
                    <p>???</p>
                </div>
            </div>
        </div>

        <!-- 2er Reihe -->

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/couvi-inca-warsteiner27.jpg" alt="couvi-inca-warsteiner27">
                </div>
                <div class="caption">
                    <p>couvi, inca, warsteiner27</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/blueshadow-jabinho.jpg" alt="blueshadow-jabinho">
                </div>
                <div class="caption">
                    <p>Team Blueshadow & Jabinho</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/LaFamilia-JDDR.JPG" alt="LaFamilia-JDDR">
                </div>
                <div class="caption">
                    <p>Team LaFamilia-JDDR</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/mattensven.jpg" alt="mattensven">
                </div>
                <div class="caption">
                    <p>Team mattensven</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/anni-mati.jpg" alt="anni&mati">
                </div>
                <div class="caption">
                    <p>anni&mati</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/LadyDai.jpg" alt="LadyDai">
                </div>
                <div class="caption">
                    <p>LadyDai</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/melschu-släuft.jpg" alt="melschu und släuft">
                </div>
                <div class="caption">
                    <p>melschu und släuft<br>Vielen Dank für euer sehr ausführliches Log.</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/björns-team.jpg" alt="jpakusch, stefanthebass, die erna, bolbers">
                </div>
                <div class="caption">
                    <p>jpakusch, stefanthebass, die erna, bolbers<br>Vielen Dank, dass ihr da wart.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/die3.jpg" alt="die 3">
                </div>
                <div class="caption">
                    <p>die 3</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/leoisa28.jpg" alt="leoisa28">
                </div>
                <div class="caption">
                    <p>leoisa28</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/team-euni.jpg" alt="team euni">
                </div>
                <div class="caption">
                    <p>Team Euni</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/team-kiki.jpg" alt="team kiki">
                </div>
                <div class="caption">
                    <p>Team Kiki Berlin</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/team-kluck.jpg" alt="team kluck">
                </div>
                <div class="caption">
                    <p>Team Kluck Berlin</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/foxi23.jpg" alt="Foxi23">
                </div>
                <div class="caption">
                    <p>Foxi23</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img src="img/halloffame/vo.jpg" alt="vo">
                </div>
                <div class="caption">
                    <p>VO</p>
                </div>
            </div>



        </div>







        <div class="row">

            <div class="col-md-12 col-md-12">
                <center>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Oma Saalow Sidebar -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:336px;height:280px"
                         data-ad-client="ca-pub-1163751605897872"
                         data-ad-slot="4791488545"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </center>
            </div>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>