<!DOCTYPE html>
<html>
<head lang="de">
    <% include ../partials/header %>
</head>


<body>

<header>
    <% include ../partials/navi %>
</header>

<main>

    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-8">

                <%
                var jetzt = new Date();
                var stunde = jetzt.getHours();

                %>

                <% if(stunde >= 19 && stunde <= 24 ) { %>
                <div class="jumbotron">
                    <h1>Willkommen Oma Saalow,</h1>

                    <p>schön, dass Sie gut bei uns angekommen sind, wir haben Sie schon erwartet.</p>

                    <p>
                        Leider sind Sie zu spät dran, das Heim hat bereits geschlossen.<br>
                        Bitte kommen Sie morgen früh wieder.<br>
                        Wir öffnen ab 07:00 Uhr.
                    </p>
                    <p><a href="http://coord.info/GC5MTX8" class="glyphicon glyphicon-list-alt"> GC5MTX8</a></p>
                </div>
                <% } else if(stunde >= 0 && stunde < 7) { %>
                <div class="jumbotron">
                    <h1>Willkommen Oma Saalow,</h1>

                    <p>schön, dass Sie gut bei uns angekommen sind, wir haben Sie schon erwartet.</p>

                    <p>
                        Leider sind Sie zu früh dran, das Heim hat noch geschlossen.<br>
                        Bitte kommen Sie heute früh wieder.<br>
                        Wir öffnen ab 07:00 Uhr.
                    </p>
                    <p><a href="http://coord.info/GC5MTX8" class="glyphicon glyphicon-list-alt"> GC5MTX8</a></p>
                </div>
                <% } else { %>
                <div class="jumbotron">
                    <form action="antwort" method="post">
                        <h1>Willkommen Oma Saalow,</h1>

                        <p>schön, dass Sie gut bei uns angekommen sind, wir haben Sie schon erwartet.</p>

                        <p>
                            Bevor es jetzt gleich losgehen kann, beantworten Sie bitte folgende Frage.
                        </p>

                        <p>
                            <strong>Wieviel Schranken gibt es in der Einfahrt zum Gelände?</strong>
                        </p>

                        <p>
                            <label for="antwort">Antwort:</label>
                            <input type="text" name="antwort" value="" id="antwort">
                        </p>

                        <p><input type="submit" class="btn btn-primary btn-lg" role="button" value="Absenden"></p>
                        <p><a href="http://coord.info/GC5MTX8" class="glyphicon glyphicon-list-alt"> GC5MTX8</a></p>
                    </form>
                </div>
                <% } %>

            </div>

            <div class="col-xs-12 col-sm-4">

                <div class="help">
                    <p>
                        <span class="glyphicon glyphicon-book"></span>
                        Ihr braucht Hilfe oder einen Stupser in die richtige Richtung? Nutzt das
                        <a href="/kontakt">Kontaktformular</a>.
                        Wir antworten schnell, versprochen.
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-picture"></span>
                        Macht unterwegs ein paar witzige Gruppenfotos und registriert euch dann nach Erfüllung des Caches bei uns für die <a href="/hof">Hall of Fame</a>.
                    </p>
                </div>


                <div class="thumbnail">
                    <a href="https://plus.google.com/113921898455413487191/posts"><img src="./img/g+.jpg"></a>

                    <div class="caption">
                        <p>Besuche Oma Saalow auf Google+</p>
                    </div>
                </div>

            </div>
        </div>


    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>