<!DOCTYPE html>
<html>
<head lang="de">
    <% include ../partials/header %>
</head>


<body>

<header>
    <% include ../partials/navi %>
</header>

<main>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <form action="email" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Dein Name" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Deine E-Mail Adresse" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="handy">Handy</label>
                            <input type="text" class="form-control" id="handy" name="handy" placeholder="Deine Handy Nummer" value="">
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label for="betreff">Betreff</label>
                            <select class="form-control" id="betreff" name="betreff" required>
                                <option value="keine Auswahl">Bitte auswählen</option>
                                <option value="Allgemeine Anfrage">Allgemeine Anfrage</option>
                                <option value="Frage zu einer Station">Frage zu einer Station</option>
                                <option value="Frage zum Final">Frage zum Final</option>
                                <option value="Schadensmeldung">Schadensmeldung</option>
                                <option value="Lob">Lob</option>
                                <option value="Kritik">Kritik</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="inhalt">Beschreibung</label>
                            <textarea class="form-control" rows="3" id="inhalt" name="inhalt" value="" required></textarea>
                        </div>


                        <button type="submit" class="btn btn-primary">Absenden</button>
                    </form>
                </div>

            </div>
        </div>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>