<!DOCTYPE html>
<html>
<head lang="de">
    <% include ../partials/header %>
</head>


<body>

<header>
    <% include ../partials/navi %>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1><span class="glyphicon glyphicon-info-sign"></span> Hinter den Kulissen,</h1>

                    <p>Dieser Cache wurde in mühevoller Arbeit erbaut von
                        <a href="http://www.geocaching.com/profile/?guid=6fbec87e-6945-4ce7-877a-a7cb2b104d72" title="TeamOfSix">TeamOfSix</a>
                        und
                        <a href="http://www.geocaching.com/profile/?guid=1666696c-027e-4325-808e-b6071ee56d37" title="DerWaschi">Team Waschi</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="thumbnail">
                    <img src="./img/tos2.jpg">
                    <div class="caption">
                        <p>Team Of Six</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="thumbnail">
                    <img src="./img/waschi3.png">
                    <div class="caption">
                        <p>Team Waschi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="thumbnail">
                    <img src="./img/waschi1.jpg">
                    <div class="caption">
                        <p>Team Waschi</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="thumbnail">
                    <img src="./img/tos1.jpg">
                    <div class="caption">
                        <p>Team Of Six</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>